@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}
body{
    background-color: #0B0B0B;
    /* display: grid;
    grid-template-columns: 13rem 1fr;
    grid-template-rows: 3rem 1fr;
    height: 100vh; */
}

.dashboard-content {
    /* display: grid; */
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-rows: 3rem 1fr min-content min-content 1fr; */
    /* grid-template-rows: auto auto auto; */
    /* grid-template-areas: 
        "welcome welcome" 
        "quickchat therapist" 
        "community therapist" 
        "community mood" 
        "resource resource"; */
    /* gap: 1.5rem; */
}

/* .dashboard-welcome {
    grid-area: welcome;
}

.dashboard-quickChat {
    grid-area: quickchat;
    height: 12rem;
}

.dashboard-therapist {
    grid-area: therapist;
}

.dashboard-community {
    grid-area: community;
}

.dashboard-mood {
    grid-area: mood;
}

.dashboard-resources {
    grid-area: resource;
} */



@layer utilities{
    .serene-sidebar{
        @apply font-NeueHass text-[#C7C7C7] font-medium text-base
    }
    .serene-line{
        @apply border-
    }
}