@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}
body{
    background-color: #0B0B0B;
    position: relative;
}
.images {
    background-image: url('./assets/Onboarding.png');
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (min-width: 1440px) {
    .recommendation-cont figure img {
        width: 5rem;
        height: 5rem;
    }

    .recommendation-cont figure figcaption {
       font-size: 1.125rem;
       line-height: 1.75rem;
    }

    .recommendation-cont div h4{
      font-size: 16px;
    }
}

    /* ------- RESPONSIVENESS FOR MOBILES ------ */
@media screen and (max-width: 1023.33px) {
    .serene-sidebar {
        @apply hidden;
    }

    .serene-header > div {
        @apply flex-row-reverse justify-between w-full;
    }

    .dashboard-welcome{
        @apply mt-[6rem];
    }
}

@media screen and (max-width: 767.33px) {
    .dashboard-cont > div {
        @apply mx-5 my-0;
    }

/* ------- WELCOME MESSAGE CSS STYLING ------ */
    .dashboard-welcome {
        @apply mx-5 mb-4;
    }

    .dashboard-welcome h1 {
        @apply text-xl;
    }

    .dashboard-welcome p {
        @apply text-sm;
    }

/* ------- QUICKCHAT CSS STYLING ------ */
    .dashboard-quickchat {
        @apply px-4 ;
    }

    .quickchat-p1{
        @apply text-sm ;
    }

    .quickchat-otherUser img {
        @apply w-7 h-7 ;
    }

    .quickchat-p2 {
        @apply text-[.83rem]
    }

/* ------- RECOMMENDATION CSS STYLING ------ */
    .recommendation-cont-figure {
        @apply bg-[#272727];
    }
}


@layer utilities{
    .serene-sidebar{
        @apply font-NeueHass text-[#C7C7C7] font-medium text-base
    }
    .serene-line{
        @apply border-
    }
}