@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
}
body{
    background-color: #0B0B0B;
}

.metamask{
    @apply flex items-stretch text-[#7B7B7B] gap-4 font-semibold;
    position: relative;
}
.images {
    background-image: url('./assets/Onboarding.png');
    background-attachment: fixed;
    background-size: cover;
}



/* WILL BE REMOVED LATER... PROBABLY */
@media screen and (min-width: 1440px) {
    .recommendation-cont figure img {
        width: 5rem;
        height: 5rem;
    }

    .recommendation-cont figure figcaption {
       font-size: 1.125rem;
       line-height: 1.75rem;
    }

    .recommendation-cont div h4{
      font-size: 16px;
    }
}
/* index.css */

/* Custom Checkbox Styling */
input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #5E5E5E;
    /* Tailwind: bg-gray-200 */
    border: 2px solid #cbd5e1;
    /* Tailwind: border-gray-300 */
    width: 1.25rem;
    /* Tailwind: w-5 */
    height: 1.25rem;
    /* Tailwind: h-5 */
    border-radius: 0.25rem;
    /* Tailwind: rounded */
    position: relative;
    cursor: pointer;
}

/* Checked State - Custom Checkmark */
input[type="checkbox"]:checked {
    background-color: #fff963;
    /* Tailwind: bg-yellow-400 */
    border-color: #fff963;
  
    /* Tailwind: border-yellow-400 */
}

input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.75rem;
    /* Adjust size as needed */
    height: 0.75rem;
    /* Adjust size as needed */
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"%3e%3cpath d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/%3e%3c/svg%3e');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
}
    /* ------- RESPONSIVENESS FOR MOBILES ------ */
@media screen and (max-width: 1023.33px) {
    .serene-sidebar {
        @apply hidden;
    }

    .serene-header > div {
        @apply flex-row-reverse justify-between w-full;
    }

    .dashboard-welcome{
        @apply mt-[6rem];
    }
}

@media screen and (max-width: 767.33px) {
    .dashboard-cont > div {
        @apply mx-5 my-0;
    }

    .second-dashboardcolumn {
        @apply mt-7;
    }

/* ------- WELCOME MESSAGE CSS STYLING ------ */
    .dashboard-welcome {
        @apply mx-5 mb-4;
    }

    .dashboard-welcome h1 {
        @apply text-xl;
    }

    .dashboard-welcome p {
        @apply text-sm;
    }

/* ------- QUICKCHAT CSS STYLING ------ */
    .dashboard-quickchat {
        @apply px-4;
    }

    .quickchat-p1{
        @apply text-sm;
    }

    .quickchat-otherUser img {
        @apply w-7 h-7;
    }

    .quickchat-p2 {
        @apply text-[.83rem];
    }

/* ------- RECOMMENDATION CSS STYLING ------ */
    .recommendation-cont-figure {
        @apply bg-[#272727] pb-5;
    }

    .recommended-card {
        @apply mt-5;
    }

    .recommended-card > h4 {
        @apply  w-[66%];
    }
}


@layer utilities{
    .serene-sidebar{
        @apply font-NeueHass text-[#C7C7C7] font-medium text-base
    }
    .serene-line{
        @apply border-
    }
}